html, body {
	width: 100%;
	height: 100%;
	font-family: "DINPro", "Museo Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	margin-top: 5%;
	max-height: 90%;
	max-width: 100%;
	display: inline;
}

											/* FIRST PAGE */

div#inputs  {
	width: 100%;
	height: 100%;
	/*background-color: gray;*/
/*	position: fixed;*/
	padding-top: 2%;
}

#inputs input,
#inputs button,
#inputs p {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	background-color: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}
#inputs p {
	font-size: 120px;
	color: white;
	border-bottom: none;
}

#inputs button {
	border: solid 5px black;
	width: 40%;
	margin: 1% 30% 1% 30%;
}

#inputs button:hover {
	background: yellow;
}

#inputs input:active {
	cursor: text;
}


										/* INTRODUCTION */
#intro {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	background-color: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}

#top
 {
	padding-top: 10%;
}

/*+++ CORE GAME ++++*/

.col {
	display: inline-block;
	width: 190px;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	opacity: 0;

}


#pix,
#lex {
	width: 100px;
 	height: 100px;
	display: inline-block;
	float: left;
	align: center;
	font-size: 100px;
}


#num {
	text-align: center;
	width: 100px;
 	height: 70px;
 	color: rgba(255,255,255,0.5);
}



.circle
{
/*width: 50px;
height: 50px;
line-height: 50px;
border-radius: 25px;
border-left: 12px;*/

line-height: 100px;

font-size: 32px;
font-weight: 700;

/*border: dotted 3px black;*/
}
	



.letters {
	top: 60%;
	position: fixed;
	display: block;
	text-align: center;
	font-size: 120px;
}


/*++++ OLD REMNANTS +++++++*/
#and p {
	color: black;
	padding: inherit;
	opacity: 0;
}


/*+++++++ AFTER GAME ++++++++*/

#congrats {
	top: -10%; /*hide it*/
	left: 70%;
	float: left;
	display: none;
	z-index: 5;
	position: absolute;
}

#congrats img {
		width: 140px;
}

#again p {
	opacity: 0;
	font-size: 50px;
	float: right;
	top: 0;
	margin-right: 2%;
	color: white;
	border: solid 3px white;
	font-weight: 700;
	z-index: 5;
	position: absolute;
}


