html, body {
	width: 100%;
	height: 100%;
	font-family: "DINPro", "Museo Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	margin-top: 5%;
}

											/* FIRST PAGE */

div#inputs  {
	width: 100%;
	height: 100%;
	/*background-color: gray;*/
/*	position: fixed;*/
	padding-top: 2%;
}

#inputs input,
#inputs button,
#inputs p {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	background-color: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}
#inputs p {
	font-size: 120px;
	color: white;
	border-bottom: none;
}

#inputs button {
	border: solid 5px black;
	width: 40%;
	margin: 1% 30% 1% 30%;
}

#inputs button:hover {
	background: yellow;
}

#inputs input:active {
	cursor: text;
}


										/* GAME PAGE */
#intro {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	background-color: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}

#name1,
#and, 
#name2 {
	width: 100%;
	height: 12%;
	display: block;
	text-align: center;
	font-size: 120px;
}

#name1,
#name2 {
	display: none;
}

#and {
	margin: 2% 0 4% 0;
}

#and p {
	display: none;
	color: black;
	padding: inherit;
}

.letters {
	height: 100%;
	z-index: 3;
	position: fixed;
	display: block;
	text-align: center;
	font-size: 120px;
	padding-top: 10%;
}

span {
	/*border-bottom: 2px solid white;*/
/*	letter-spacing: 0.2em;*/
	margin: 0 2% 0 2%;
}

#congrats {
	top: -10%; /*hide it*/
	left: 70%;
	float: left;
	display: none;
	z-index: 5;
	position: absolute;
}

#congrats img {
		width: 140px;
}


#again p {
	opacity: 0;
	font-size: 50px;
	float: right;
	top: 0;
	margin-right: 2%;
	color: white;
	border: solid 3px white;
	font-weight: 700;
}


